.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #470458ad;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: flex-end;
}

.sidepanel.open {
  width: 100%;
}

.sidepanel-content {
  width: 40vw;
  border-left: solid #34076564 0.2px;
  background-color: #470458;

}

.sidepanel a {
  padding: 8px 32px 8px 8px;
  text-align: end;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {

  right: 25px;
  font-size: 36px;
  cursor: pointer;
}

.books-form {
  padding: 40px;
}

.books-form form {
  display: flex;
  flex-direction: column;
}

input,
select {
  margin: 10px 0;
  height: 36px;
  border-radius: 8px;
  border: solid transparent .2px;
  padding-inline-start: 12px;
  font-weight: 600;
  color: #d7d7d7;
}

select {
  text-transform: uppercase;
}

input::placeholder {
  text-transform: uppercase;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}

.books-form button {
  width: max-content;
  font-weight: 600;
  margin: 8px 0;
}

.lend-form button {
  width: max-content;
  font-weight: 600;
  margin: 8px 0;
}

.form-error-message {
  color: rgba(212, 0, 0, 0.846);
  padding-inline-start: 13px;
}



@media (max-width: 769px) {
  .sidepanel.open {
    width: 100%;
  }
}