.books-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  list-style-type: none;
  padding: 0;
}


.book-card {
  border: solid #00000011 1px;
  background-color: #ffffff1e;
  box-shadow: -9px 10px 20px 0px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.borrow {
  opacity: .4;
}


.book-card-header,
img {
  width: 100%;
  position: relative;
  transition: 0.5s all ease-in-out;
  overflow: hidden;
  object-fit: cover;
  border-radius: 8px 8px 0 0;

}

.book-card-header img:hover {
  transform: scale(1.2);
}

.badges {
  position: absolute;
  top: 15px;
  left: 10px;
  color: #fff;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.badges span {
  background: linear-gradient(135deg, #3c007b, #2c0054);
  padding: 3px 5px;
  border-radius: 8px;
}

.book-card-footer {
  text-transform: uppercase;
  padding-inline-start: 25px;
}

.author {
  font-size: 20px;
  font-weight: 700;
}

.country {
  font-weight: 300;
  opacity: .7;
}