@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(135deg, #450a85, #480039);


  --HOME_TITLE_FONT: 'Changa One', cursive;
  --text: clamp(0.778rem, 2vw + 1rem, 2.778rem);

}

.btn {
  background-color: #5443507a;
  font-size: 1rem;
  border: solid transparent 1px;
  border-radius: 8px;

  cursor: pointer;
  padding: 8px 12px;
}

.btn:hover {
  border: solid #fff 1px;

}

.btn-icon {
  display: flex;
  align-items: center;
}